#layoutoverlay-image {
  opacity: 0.50;
  cursor: move;
  position: absolute;
  top: 20%;
}

#layoutoverlay-config {
  position: fixed;
  bottom: 0;
  left: 80%;
  background-color: #ccc;
  padding: 4px 10px 4px 10px;
  color: #000;
  font-family: "Helvetica Neue", Helvetica;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
#layoutoverlay-config .heading {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
}
#layoutoverlay-config .toggle {
  margin: 10px 0;
}
#layoutoverlay-config .slider {
  margin-bottom: 20px;
}
#layoutoverlay-config .ui-slider-handle {
  cursor: pointer;
}
#layoutoverlay-config .toggle .ui-button-text {
  font-weight: normal;
  font-size: 12px;
}